.cargar-todas {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    margin: 0 0 4vh 0;
}

.ver-mas {
    background-color: #ffee00;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
    margin: 0 0 4vh 0;
}

.logo{
  font-weight: bold;
  color: rgb(34, 34, 154)
}

h1{
  text-align: center;
}