.search-form, .filter-form {
    padding: .5rem 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    column-gap: 5px;
}
.filter-form {
    grid-template-columns: 1fr;
}
.search-form .btn-sm{
    line-height: 1;
    font-size: 0.9rem;
}
.search-form input,
.filter-form input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 3px;
    vertical-align: middle;
    line-height: 1;
    font-size: 1rem;
    padding-bottom: 4px;
}
.filter-form input {
    line-height: 1.5;
}

.search-tipo {
    display: flex;
    margin: 0 0 2vh 0;
}
.search-tipo-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.boton-submit {
    background-color: #f3ce13;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
}   